:root {
    --color-primario: #f5d1b5;
    --color-secundario: #7e7e77;
    --color-texto: #1a202c;
}

body {
font-size: 150%;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: var(--color-secundario);
color: var(--color-texto);
margin: 0;
padding: 0;
line-height: 1.6;
}

header, footer {
    color: var(--color-texto);
    text-align: center;
    padding: 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1.5px;
    padding: 1.5px;
}

section {
    background: var(--color-primario);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h3 {
    color: rgb(165, 101, 42);
    border-bottom: 2px solid var(--color-primario);
    padding-bottom: 0.5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 0.3px 0;
    transition: background 0.3s;
}

li :hover {
    background-color: var(--color-primario);
}

button {
    background-color: white;
    color: var(--color-primario);
    border: none;
    padding: 0.5px 1px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f36107;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.foto-perfil {
    width: 200px;
    height: 200px;
    border-radius: 5%;
    object-fit: cover;
    border: 3px solid rgb(245, 142, 121);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 2);
}

.info {
    text-align: left;
}

.cv-container {
    max-width: 1200px;
    background-color: white;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 15px;
}